{% load static %}
<!DOCTYPE html>
<html lang="en" style="background-color: rgb(34, 10, 99);">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <title>Book Store</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="prof-box">
        
        <h1>ONLINE BOOK STORE</h1>
        <div class="line-break"></div>
        <br>
        <p><li>Get free e-books on DSA, CP and Web.</li> <br>
        <li>Upload, View and Download e-books.</li> <br>
    <li>Add your liked books to Favourite.</li></p>
    <br>
    <button>
    <a href="{% url 'loginpage' %}" >
        Login
    </a>
    </button>
    <br>
    <br>
    <button>
    <a href="{% url 'register' %}" >
        Register
    </a>
    </button>
    </div>
      
</body>
</html>




