{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <title>Diya Jaiswal</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="prof-box">
        
        <h1>DIYA JAISWAL</h1>
        <div class="line-break"></div>
        <br>
        <p>Django Developer | Competitive Programmer</p>
    
        
    </div>
      
</body>
</html>