<form method="POST" action="">
    {% csrf_token %}
    {% if form.errors %}
    {% for field in form %}
    {% for error in field.errors %}
           <div class="alert alert-danger">
               <strong>{{ error|escape }}</strong>
           </div>
    {% endfor %}
       {% endfor %}
    {% for error in form.non_field_errors %}
          <div class="alert alert-danger">
               <strong>{{ error|escape }}</strong>
           </div>
       {% endfor %}
{% endif %}
<div>
    {{ form.username }}
</div>

<div>
    {{ form.password }}
</div>



    <button type="submit">
        Login
    </button>
</div>

{% for message in messages %}
    <p id="messages">{{message}}</p>
{% endfor %}

</form>
<div>
    <span>
        Don't have an account?
    </span>

    <a href="{% url 'register' %}">
        Sign up now							
    </a>
</div>