{% load static %}
<!DOCTYPE html>
<html lang="en" style="background-color: rgb(34, 10, 99);">
<head>
    <style>
        .message.success {
            text-align: center;
        }
    </style>

    <meta charset="UTF-8">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="prof-box">
        <br>
        <h1>REGISTER</h1>
        <div class="line-break"></div>
        <form method='POST' action="">
            {% csrf_token %}  
            <br>
            <div>
                {{form.username}}
            </div>
            <br>
            <div>
                {{form.email}}
            </div>
            <br>
            <div>
                {{form.password1}}
            </div>
            <br>
            <div>
                {{form.password2}}
            </div>
            <br>
            
        <button type="submit" name="Create User">
            Register
        </button>
        <br>
        
        {{form.errors}}
        
        <div class="messages">
        {% for message in messages %}
            <p id="messages">{{message}}</p>
        {% endfor %}
        </div>
            <div>
                <p style="text-align: center;">
                    Already have an account?
                </p>
                <button>
                <a href="{% url 'loginpage' %}">
                    Login now							
                </a>
                </button>
            </div>
        </form>
        <br>
    <br>
    
    </div>
      
</body>
</html>


